.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 3px 0 #232931;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 60px;
  color: #4ECCA3;
  text-shadow: 3px 0 #232931;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.containerButton{
  text-align: center;
  padding-top: 60px;

}

.btn {

	border-radius:15px;
	border:1.5px solid #4ECCA3;
	color:#4ECCA3;
	font-family: 'Indie Flower', cursive;
	font-size:23px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;

}


.btn:hover{
  color:white;
  background-color:#4e535a ;
  	border:1.5px solid white;
}
